*,
*:after,
*:before {
    margin: 0;
    padding: 0;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 12px;
}

/* FOOTER */
.footer {
    background: #fff url(../images/header&footer/footer.png) center no-repeat;
    background-size: cover
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 30px;
    box-sizing: border-box;
}

.footer__intro {
    padding: 81px 0 20px;
}

.footer__intro_title {
    text-align: center;
}

.footer__intro_p {
    padding-bottom: 16px;
    display: inline-block;
    border-bottom: solid 1px #DEDEDE;
    color: #EFEFEF;
    font: 400 25px 'Oxygen';
}

.footer__inner_title {
    font: 400 26px 'Lora';
    color: #fff;
}

.footer__nav_link {
    color: #fff;
    font: 400 11px 'Oxygen';
    opacity: 0.6;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.footer__link:last-child {
    margin-right: 0;
}